[Unit]
Description=OpenRGB Profile Loader

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb -p $HOME/.config/OpenRGB/blanquiazul.orp
RemainAfterExit=yes

[Install]
WantedBy=default.target   